#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

.app-wrapper {
  width: 100%;
  height: 100%;
}

.quiz-status {
  padding: 10px 30px;
  margin: 30px auto;
  max-width: 800px;
  background-color: #333;
  border-radius: 10px;

  .quiz-status-subheader {
    padding-bottom: 40px;
    margin: 0 30px;
    border-bottom: 1px solid silver;
  }
}

.question-wrapper {
  padding: 10px 30px;
  margin: 0 auto; 
  max-width: 800px;
  text-align: left;
  background-color: #333;
  border-radius: 10px;

  .answers-wrapper {
    p {
      padding: 5px 10px;
      font-size: 18px;
      cursor: pointer;
      color: white;
      border: 1px solid #666;
      border-radius: 5px;
    }

    .selected {
      border: 1px solid #999;
      background-color: #555;
    }

    .correct {
      cursor: default;
      color: darkgreen;
      background-color: #a6ef93;
      border: 1px solid darkgreen;
    }

    .wrong {
      cursor: default;
      color: maroon;
      background-color: lightcoral;
      border: 1px solid maroon;
    }

    .skipped {
      cursor: default;
    }
  }
}

.answer-status {
  padding: 0 30px;
  margin: 30px auto;
  width: 800px;
  min-height: 56px;
  border-radius: 10px;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  font-weight: 600;
  background-color: #555;
  cursor: pointer;
}

.answer-correct {
  color: darkgreen;
  background-color: #a6ef93;
}

.answer-incorrect {
  color: maroon;
  background-color: lightcoral;
}

.question-line {
  padding-bottom: 20px;
  font-size: 18px;
  text-align: justify;
  border-bottom: 1px solid #666;
}

.general-answers-status {
  padding-bottom: 24px;
  margin: 0 30px;
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid silver;
}

.status-circle {
  display: flex;
  align-items: center;

  .circle {
    width: 24px;
    height: 24px;
    margin-left: 4px;
    padding-bottom: 1px;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    background-color: #666;
  }
}

.footer {
  margin: 20px auto;
}

.read-the-docs {
  color: #888;
}