#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

.app-wrapper {
  width: 100%;
  height: 100%;
}

.quiz-status {
  padding: 10px 30px;
  margin: 30px auto;
  max-width: 800px;
  background-color: #333;
  border-radius: 10px;

  .progress-wrapper {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .quiz-status-subheader {
    padding: 30px 0;
    margin: 0 30px;
    border-bottom: 1px solid silver;
  }

  .new-quiz-subheader {
    margin-bottom: 40px;
  }
}

.question-wrapper {
  padding: 10px 30px;
  margin: 0 auto; 
  max-width: 800px;
  text-align: left;
  background-color: #333;
  border-radius: 10px;

  .answers-wrapper {
    p {
      padding: 5px 10px;
      font-size: 18px;
      cursor: pointer;
      color: white;
      border: 1px solid #666;
      border-radius: 5px;
      text-align: justify;
    }

    .selected {
      border: 1px solid #999;
      background-color: #555;
    }

    .correct {
      cursor: default;
      color: #333;
      background-color: #a6ef93;
    }

    .wrong {
      cursor: default;
      background-color: lightcoral;
    }

    .skipped {
      cursor: default;
    }

    .definition {
      font-weight: 600;
    }

    .details {
      font-weight: 300;
    }
  }
}

.answer-status {
  padding: 0 30px;
  margin: 30px auto;
  width: 800px;
  min-height: 56px;
  border-radius: 10px;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  font-weight: 600;
  background-color: #555;
  cursor: pointer;
}

.answer-correct {
  color: #333;
  background-color: #a6ef93;
}

.answer-incorrect {
  background-color: lightcoral;
}

.question-line {
  padding-bottom: 20px;
  font-size: 18px;
  text-align: justify;
  border-bottom: 1px solid #666;
}

.general-answers-status {
  padding-bottom: 24px;
  margin: 0 30px;
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid silver;
}

.status-circle {
  display: flex;
  align-items: center;

  .circle {
    width: 24px;
    height: 24px;
    margin-left: 4px;
    padding-bottom: 1px;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    background-color: #666;
  }
}

.action-button {
  margin: 20px auto;

  button {
    width: 138px;
  }

  .start-new {
    width: auto;
    color: #333;
    background-color: #a6ef93;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  padding: 30px;
  text-align: center;
  font-size: 18px;
  background: #555;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-actions button:first-child {
  margin: 16px 20px;
  font-size: 16px;
}

.modal-actions button:last-child {
  font-size: 16px;
  background: lightcoral;
}