#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

.app-wrapper {
  width: 100%;
  height: 100%;
}

.finished {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  .finished-content {
    width: 800px;
  }
}

.question-wrapper {
  padding: 30px;
  margin: 0px auto;
  max-width: 800px;
  text-align: left;
  background-color: #333;
  border-radius: 10px;

  .answers-wrapper {
    p {
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
      color: white;
      border: 1px solid #666;
      border-radius: 5px;
    }

    .selected {
      border: 1px solid #999;
      background-color: #555;
    }

    .correct {
      cursor: default;
      color: darkgreen;
      background-color: #a6ef93;
      border: 1px solid darkgreen;
    }

    .wrong {
      cursor: default;
      color: maroon;
      background-color: lightcoral;
      border: 1px solid maroon;
    }

    .skipped {
      cursor: default;
    }
  }
}

.answer-status {
  padding: 0 30px;
  margin: 20px auto;
  max-width: 800px;
  min-height: 56px;
  border-radius: 10px;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  font-weight: 600;
  background-color: #555;
}

.answer-correct {
  color: darkgreen;
  background-color: #a6ef93;
}

.answer-incorrect {
  color: maroon;
  background-color: lightcoral;
}

.question-line {
  padding-bottom: 20px;
  font-size: 16px;
  text-align: justify;
  border-bottom: 1px solid #666;
}

.footer {
  margin: 20px auto;
}

.read-the-docs {
  color: #888;
}